conda create --name PointNet python=3.10

conda activate PointNet

conda install pytorch==1.13.0 torchvision==0.14.0 pytorch-cuda=11.7 -c pytorch -c nvidia -y conda install pyg==2.3.0 -c pyg -y
conda install plotly==5.14.1 -y
conda install pytorch-lightning==2.0.2 -c conda-forge -y
conda install pandas==2.0.1 -y
conda install pytorch-cluster -c pyg -y
conda install seaborn==0.12.2 -y

pip install --upgrade nbformat==5.8.0 -y